[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-excel
Type=Application
Categories=Office;
Exec=ms-excel
Name=Microsoft Excel Online
GenericName=Excel
GenericName[en]=Excel
StartupNotify=true
