[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-office
Type=Application
Categories=Office;
Exec=ms-office
Name=Microsoft Office Online
GenericName=Office
GenericName[en]=Office
StartupNotify=true
