[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-onenote
Type=Application
Categories=Office;
Exec=ms-onenote
Name=Microsoft OneNote Online
GenericName=OneNote
GenericName[en]=OneNote
StartupNotify=true
