[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-outlook
Type=Application
Categories=Office;
Exec=ms-outlook
Name=Microsoft Outlook Online
GenericName=Outlook
GenericName[en]=Outlook
StartupNotify=true
