[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-powerpoint
Type=Application
Categories=Office;
Exec=ms-powerpoint
Name=Microsoft PowerPoint Online
GenericName=PowerPoint
GenericName[en]=PowerPoint
StartupNotify=true
