[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-skype
Type=Application
Categories=Network;
Exec=ms-skype
Name=Microsoft Skype
GenericName=Skype
GenericName[en]=Skype
StartupNotify=true
