[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-word
Type=Application
Categories=Office;
Exec=ms-word
Name=Microsoft Word Online
GenericName=Word
GenericName[en]=Word
StartupNotify=true
